*{
    padding:0;
    margin:0;
    font-family: "Roboto Md";
 }
a{
    text-decoration: none;
}
 ul li{
    list-style: none;
}
 .d-flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 }