
@font-face {
  font-family: 'Roboto Th';
  src: url('../fonts/Roboto/Roboto-Thin.ttf');

}
@font-face {
  font-family: 'Roboto Lg';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto Rg';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto Md';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Bd';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto Bl';
  src: url('../fonts/Roboto/Roboto-Black.ttf');
  font-weight: normal;
}






/*
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('/assets/fonts/ProximaNova-RegularIt.eot');
  src: url('/assets/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('/assets/fonts/ProximaNova-RegularIt.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: normal;
  font-style: italic;
}
*/
