
@import url("base.css");
@import url("fonts.css");

header{
    background-color: #2948ff;
    height: 50px;
    width: 100%;

}
header ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;

}
header ul li{
padding: 12px 15px;
}
header ul li a{
    font-size: 19px;
    color: #fff;
}



header ul li:hover{
    background-color: #4373ff;
}

 .menu {
    position: relative;
}
 .menu:hover .submenu{
    display: block;
}
 .menu .submenu{
       display: none;
    position: absolute;
    top: 50px;
    right: 3px;
    background-color:#9bb6f3;
     height: auto;
}
 .menu .submenu a{
    font-size: 14px;
    color: #333;
}
.menu .submenu a:hover{
   color: #2948ff;
}
 .menu .submenu li{
     padding: 5px ;
 }

 .menu .submenu li:hover{
    background: none;
}






#m-content{
    min-height: 100vh;
    padding: 10px 30px;
}


.m-d-auth{
    width: 100%;
    height: 100vh;
    /*
    background-color: #d6dfe685;
    */
    background-image: url('../img/back2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.m-d-auth:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#333333;
    opacity: .4;
}

.m-d-form{
    width: 300px;
    /*height: 400px;*/
    background-color: #fff;
    border-radius: 4px;
    margin-left: 200px;
    z-index: 0;
    flex-flow:column;
}
.d-h-auth{
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 20px;
    color:#2948ff;
    font-family: "Roboto Md";
    margin-bottom: 25px;
}

.m-d-auth form div{
   /* border: 1px solid red;*/
    margin-bottom: 20px;
    text-align: center;
}
.m-d-auth form div input{
    background-color: #fff;
    padding: 8px 10px;
    width: 85%;
  /* outline: 0;*/
    border:1px solid #ccc;
    border-radius: 3px;

}
.m-d-form form div button{
    font-family: "Roboto Md";
    color: #fff;
     border-radius: 3px;
}
.m-d-form form div .btn_1{
    width: 85%;
    background-color: green;
    border: 1px solid #ffffff;
    font-size: 15px;
    padding: 6px 0;
    text-transform: uppercase;

}
.m-d-form form div .btn_2{
    width: 85%;
    background-color: #2948ff;
    border: 1px solid #ffffff;
    font-size: 15px;
    padding: 6px 0;
    text-transform: uppercase;

}
.m-d-form form div .btn_1:hover{
    background-color: #2f805c;
}
.m-d-form form div .btn_2:hover{
    background-color: #7599ff;
}
.m-d-form form div span{
    font-size: 15px;
    display: inline-flex;
    text-align: left;
    width: 85%;
    font-family: Roboto Lg;
    color:red;
}
.btn-disable{
    cursor: no-drop;
}

#product .m-d-search{
    width: 100%;
    justify-content: center;
}
#product .d-search{
    border: 1px solid #ccc;
    background-color: #f3b8a6;
    height: 50px;
    width: 500px;
}


#product .m-d-products{

    border: 1px solid #ccc;
}




.m-d-form .st-error{
    color: red;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}









footer{
    background-color: #333;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}


footer span{
    color: #fff;
    font-family: "Roboto Th";
}










@import url("media.css");