
{% set title="Page not found" %}
<div style="
       display: flex;
       align-items: center;
       justify-content: center;
       height: 100vh;
       width: 100%;">
    <h2>404 Page not found</h2>
</div>
