{% set title="Internal server Error" %}
<div  style="
       display: flex;
       align-items: center;
       justify-content: center;
       height: 100vh;
       width: 100%;">
    <h2>500 Internal Server Error</h2>
</div>
