<html>
<head>
    <meta charset="UTF-8">
    <title>
    {{title}}
    </title>
    <link rel="stylesheet" href="{{ url('static', filename='css/style.css') }}">
      <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<body>

<header>
    <ul class="d-flex">
        <li><a href="/home">home</a></li>
        <li><a href="/products">products</a></li>
        <li><a href="/about">about us</a></li>
        <li><a href="/contacts">contacts</a></li>
        <li class="menu">
            <a href="/account">account</a>
            <ul class="submenu">
                <li><a href="productCRUD">CRUD product"</a></li>
                <li><a href="/logout">log out</a></li>
            </ul>
        </li>
        <li class="menu"><a href="#">lang</a>
        <ul class="submenu">
                <li><a href="/locale/tg_TJ">tajik</a></li>
                <li><a href="/locale/ru_RU">russian</a></li>
                <li><a href="/locale/en_US">english</a></li>
            </ul>

        </li>
    </ul>

</header>

<div id="m-content">


  {% block body %}{% endblock  %}

</div>
<footer class="d-flex">
    <span>
         2018 © Created by Okhunjon.
    </span>
</footer>