<html>
<head>
    <meta charset="UTF-8">
    <title>
        {{title}}
    </title>
    <link rel="stylesheet"   type="text/css"
    href="{{url('static', filename='css/style.css')}}"
    >
</head>
<body>
<header>
</header>

<div class="m-d-auth d-flex">
    <div class="m-d-form d-flex" >
    <div class="d-h-auth">name of form</div>
            {% block body %}

        {% endblock  %}
</div>
</div>
<footer class="d-flex">
    <span>
         2018 © Created by Okhunjon.
    </span>
</footer>
<script src="{{ url('static', filename='js/shared.js') }}" type="text/javascript"></script>

</body>
</html>