{% extends 'baseauth.html' %}
{% set title="Login" %}
{% block body %}


<form action="/" name="authform" novalidate
      method="post"
        accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">
    <div>
    <input type="text" name="email" placeholder="E-mail">
        <span class="email_error"></span>
    </div>
    <div>
    <input type="password" name="password" placeholder="password">
        <span class="password_error"></span>
    </div>
    <div>
    <button type="submit"  id="sub_btn" class="btn_1">Sing in</button>

    </div>
    <div>
        <button type="button" class="btn_2" onclick="reUrl('registration');">Sign up</button>
    </div>
</form>



<script src="{{url('static', filename='js/validateAuth.js') }}" type="text/javascript"></script>

{% endblock %}

