{% extends 'baseauth.html' %}
{% set title="Registration" %}
{% block body %}
{% if error %}
<div class="st-error">{{error}}</div>
{% else %}
<div style="display:none"></div>
{% endif %}
<form   action="/registration"  method="POST" name="regform" id="regForm" novalidate>
    <div>
    <input type="text" name="r_name" placeholder="Name">
        <span class="r_error_name"></span>
    </div>
    <div>
    <input type="text" name="email" id="email" placeholder="E-mail">
        <span class="r_error_email"></span>
    </div>
    <div>
    <input type="password" name="password" placeholder="Password">
         <span class="r_error_password"></span>
    </div>
    <div>
    <input type="password" name="r_confirm_password" placeholder="Confirm Password">
         <span class="r_error_confirm_password"></span>
    </div>
    <div>

    <button type="submit" name="sub_reg" class="btn_1">Sign in</button>


    </div>

</form>



<script src="{{url('static', filename='js/validateReg.js') }}" type="text/javascript"></script>




{% endblock %}